# cp critbot.service ~/.config/systemd/user/critbot.service

[Unit]
Description=CritBot Service
After=network.target lavalink.service
Wants=lavalink.service

[Service]
Type=simple
WorkingDirectory=%h/critbot
ExecStart=%h/critbot/update_bot.sh
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target