# cp lavalink.service ~/.config/systemd/user/lavalink.service

[Unit]
Description=Lavalink Service
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=%h/critbot/config
ExecStart=%h/critbot/update_bot.sh lavalink
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target