# cp lavalink.service ~/.config/systemd/user/lavalink.service

[Unit]
Description=Lavalink Service
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=%h/critbot/config
ExecStart=%h/.sdkman/candidates/java/current/bin/java -jar %h/critbot/config/Lavalink.jar # using sdkman
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target